/* Navbar Start*/

.valve {
    font-weight: bold;
    color: #F74641;
}



/* Navbar End */


#banner
{
    width: 100%;
    filter: brightness(50%) blur(4px);
    mask-image: linear-gradient(to bottom, black 70%, transparent);
    -webkit-mask-image: linear-gradient(to bottom, black 70%, transparent);
}