/* Navbar Start*/

.valve {
    font-weight: bold;
    color: #F74641;
}

.red {
    color: #F74641;
}

.valve:hover
{
    font-weight:750;
    color: #F74641;
}

.navbutton:hover
{
    color: #F74641;
    font-weight: bold;
}

#text-about
{
    font-size: x-large;
}


/* Navbar End */


#banner
{
    width: 100%;
    filter: brightness(50%) blur(4px);
    mask-image: linear-gradient(to bottom, black 70%, transparent);
    -webkit-mask-image: linear-gradient(to bottom, black 70%, transparent);
}

#motto
{
    font-weight: bolder;
    font-size: large;
}

/* About Start */

#abouttitle
{
    text-align: center;
    margin-bottom: 50px;
    font-size: 40px;

}

.wiki .container h1 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 40px;
    font-style: bold;
}

.wiki-box .box mt-6 img {
    width: 100%;
    max-width: 100%;
}

.wiki-box .box a {
    border: 1px solid #F74641;
    padding: 10px 20px;
    color: #F74641;
    text-decoration: none;
    border-radius: 5px;
}

.wiki-box .box a:hover {
    background-color: #F74641;
    color: black;
}

/* About End */
