/* Navbar Start*/

.valve {
    font-weight: bold;
    color: #F74641;
}
.valve:hover
{
    font-weight:750;
    color: #F74641;
}

.navbutton:hover
{
    color: #F74641;
    font-weight: bold;
}


/* Navbar End */


#banner
{
    width: 100%;
    filter: brightness(50%) blur(4px);
    mask-image: linear-gradient(to bottom, black 70%, transparent);
    -webkit-mask-image: linear-gradient(to bottom, black 70%, transparent);
}

#motto
{
    font-weight: bolder;
    font-size: large;
}

/* About Start */

.wiki .container h1{
    text-align: center;
    margin-bottom: 50px;
    font-size: 40px;

}


/* About End */
